<footer class="app-main-footer">
  <div class="footer-content">
    <p class="footer-subtext">
      Powered by FastAPI, PyTorch & Grad-CAM • XAI Medical Imaging Architecture • Demo Image:
      <a
        href="https://commons.wikimedia.org/wiki/File:MRI_Brain_T1_Sag_(9).jpg"
        target="_blank"
        rel="noopener"
        >Wiki</a
      >
    </p>

    <p class="footer-subtext">
      Developed by <a href="https://github.com/wixhub" target="_blank" rel="noopener">@wixhub</a>
      • Repository Source
      <a href="https://github.com/wixhub/med-vision-inspector" target="_blank" rel="noopener"
        >GitHub</a
      >
    </p>
  </div>
</footer>
